<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/logo.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../styles/dashboard.css"  type="text/css" rel="stylesheet">
  <link href="../styles/navigation.css"  type="text/css" rel="stylesheet">
  <link href="../styles/details.css"  type="text/css" rel="stylesheet">
  <title>Account</title>
</head>
<body>
    <div id="wrapper">
        <header>
          <!-- Navigation -->
          <a id="logo" href="/"><img id="logo-img" src="./images/logo.png" alt="logo"/></a>
          <nav>
              <div id="greeting">
                  <p>Hello, {{.User.FirstName}}</p>
              </div>
            <div>
              <a href="/dashboard">Paintings</a>
            </div>
  
            <!-- Logged-in users -->
              <div class="user">
                <a href="/create">Add Painting</a>
                <a href="/account">Account</a>
                <a href="/logout" id="logoutBtn">Logout</a>
              </div>
          </nav>
        </header>
  </div>
        <main id="content" style="margin-top: 5em;">

            <div class="row">
                <h2>Account Info</h2>
                <h4 id="account-info">
                    name : {{.User.FirstName}} {{.User.LastName}} <br>
                    email : {{.User.Email}} <br>
                    profile created : {{.User.DateOfRegistration.Format "02-Jan-2006"}}
                </p>
            </div>

    <!-- Personal paintings -->
        <h2>My Paintings</h2>
        <section id="dashboard" style="padding-bottom: 10em;">
          <div class="row">
          {{range $i, $v := .Paint}}
            {{if eq $v.Author.ID $.User.ID}}
            <div class="product" style="width: 22em; float: left; margin: 2.7em; margin-bottom: 5em;">
                <p class="title">{{$v.Title}}</p>
                <img src="data:image/jpeg;base64,{{index $.EncodedImages $i}}" alt="some-img"/>
                <div id="summary" style="font-family: 'Alkalami', serif;">
                    description : {{$v.Description}} <br>
                    autor : {{$v.Author.FirstName}} {{$v.Author.LastName}} <br>
                    size : {{$v.Width}} x {{$v.Height}} <br>
                    genre : {{$v.Genre.Name}}
                    <br>
                    <strong>Price:</strong><span class="price">{{printf "%.2f" $v.Price}}</span>$
                </div>
                <div class="button-container">
                  <div class="button-cell">
                    <form action="/edit_painting" method="POST">
                      <!-- Hidden input field to send painting ID -->
                      <input type="hidden" name="painting_id" value="{{$v.ID}}">
                      <button id="buy-product" type="submit" name="edit_painting_btn"><strong>Edit</strong></button>
                    </form>
                  </div>
                  <div class="button-cell">
                    <form action="/delete_painting" method="POST">
                      <!-- Hidden input field to send painting ID -->
                      <input type="hidden" name="painting_id" value="{{$v.ID}}">
                      <button id="buy-product" type="submit" name="delete_painting_btn"><strong>Delete</strong></button>
                    </form>
                  </div>
                </div>
            </div>
          {{end}}
          {{end}}
        </div>
        </section>
</main>
</body>
</html>