<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/logo.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../styles/styles.css"  type="text/css" rel="stylesheet">
  <title>Home</title>
</head>
<body>
    <div id="wrapper">
        <header>
          <!-- Navigation -->
          <a id="logo" href="/"><img id="logo-img" src="./images/logo.png" alt="logo"/></a>
          <nav>
            {{if .Active}}
              <div id="greeting">
                  <p>Hello, {{.User.FirstName}}</p>
              </div>
            {{end}}
            <div>
              <a href="/dashboard">Paintings</a>
            </div>
  
            <!-- Logged-in users -->
            {{if .Active}}
              <div class="user">
                <a href="/create">Add Painting</a>
                <a href="/account">Account</a>
                <a href="/logout" id="logoutBtn">Logout</a>
              </div>
            {{else}}
            <!-- Guest users -->
              <div class="guest">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
              </div>
            {{end}}
          </nav>
        </header>
  </div>
        <main id="content" style="margin-top: 5em;">
    <!-- Home page -->
    <div class="row">
        <h2>Paintings</h2>

        <form action="/" method="POST" style="padding-left: 35%;">
          <input type="text" name="sb_author" id="sb_author" placeholder="author"> 
          <input type="text" name="sb_title" id="sb_title" placeholder="title">
          <label id="sb_category" for="options" style="color: #bd2c2c;"> genre:</label><select id="options" name="sb_category">
          {{range .GenreTypes}}
                <option value="{{.}}" {{if eq . "" }}selected{{end}}>{{.}}</option>
          {{end}}</select>
          <button type="submit" id="id-btn-filter" style="font-family: 'Kaushan Script', cursive;
          text-transform: uppercase;
          outline: 0;
          background: rgb(231, 103, 124);
          border: 0;
          color: #ffffff;
          cursor: pointer;
          border-radius: 5px;"
          onmouseover="this.style.backgroundColor= '#bd2c2c';"
          onmouseout="this.style.backgroundColor='rgb(231, 103, 124)';"
          >Search</button>
        </form>

        <section id="dashboard">
          {{range .Paint}}
          {{if not $.Active}}
          <div class="product">
            <p class="title">{{.Title}}</p>
            <img src="{{.Src}}" alt="some-img"/>
            <div id="summary" style="font-family: 'Alkalami', serif;">
                description : {{.Description}} <br>
                autor : {{.Author.FirstName}} {{.Author.LastName}} <br>
                size : {{.Width}} x {{.Height}} <br>
                genre : {{.Genre.Name}}
            </div>

            <!-- Button to trigger the popup window -->
            <button onclick="openPopup()" id="buy-product"><strong>Price:</strong><span class="price">{{printf "%.2f" .Price}}</span>$</button>
            <!-- Modal dialog -->
            <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <form action="/delete_painting" method="POST">
                <!-- Hidden input field to send painting ID -->
                <input type="hidden" name="painting_id" value="{{.ID}}">
                <button class="close" style="margin-top: -25%;" type="submit" onclick="closePopup()">&times;</button> <!-- Close button -->
              <p style="margin: 25%;">Thank you for your purchase!</p>
            </form>  
            </div>
            </div>
        </div>
          {{end}}
          {{if and $.Active (ne .Author.ID $.User.ID)}}
            <div class="product">
                <p class="title">{{.Title}}</p>
                <img src="{{.Src}}" alt="some-img"/>
                <div id="summary" style="font-family: 'Alkalami', serif;">
                    description : {{.Description}} <br>
                    autor : {{.Author.FirstName}} {{.Author.LastName}} <br>
                    size : {{.Width}} x {{.Height}} <br>
                    genre : {{.Genre.Name}}
                </div>
                
                <!-- Button to trigger the popup window -->
            <button onclick="openPopup()" id="buy-product"><strong>Price:</strong><span class="price">{{printf "%.2f" .Price}}</span>$</button>
            <!-- Modal dialog -->
            <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <form action="/delete_painting" method="POST">
                <!-- Hidden input field to send painting ID -->
                <input type="hidden" name="painting_id" value="{{.ID}}">
                <button class="close" style="margin-top: -25%;" type="submit" onclick="closePopup()">&times;</button> <!-- Close button -->
            <p style="margin: 25%;">Thank you for your purchase!</p>
          </form>  
            </div>
            </div>

            </div>
            {{end}}
          {{end}}
        </section>
    </div>
</main>
<div id="wrapper">
  <footer>
      <p>@ArtGallery</p>
    </footer>
    </div>

    <!-- JavaScript to handle opening and closing the popup -->
<script>
  function openPopup() {
      document.getElementById("myModal").style.display = "block";
  }

  function closePopup() {
      document.getElementById("myModal").style.display = "none";
  }
</script>
</body>
</html>